@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dosis&family=Fira+Code:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


 body {
    font-family: 'Fira Code', monospace;
    
} 


:root {
  --primary: #47cf73; 
  --primary-hover: #248C46;
}

/* Cursor selection background */
.yRemoteSelection {
    opacity: 0.5;
    background-color: var(--user-color);
    margin-right: -1px;
  }
  
  /* Cursor caret */
  .yRemoteSelectionHead {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    border-left: 2px solid var(--user-color);
  }
  
  /* Cursor name */
  .yRemoteSelectionHead::after {
    position: absolute;
    top: -1.4em;
    left: -2px;
    padding: 2px 6px;
    background: var(--user-color);
    color: #fff;
    border: 0;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    line-height: normal;
    white-space: nowrap;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    pointer-events: none;
    user-select: none;
    z-index: 1000;
  }